# Pandas Review
This notebook provides a hands-on review of essential pandas operations, including creating DataFrames, reading files, filtering, grouping, handling missing data, and more.

In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## 1. Creating Series and DataFrames
Create a pandas DataFrame from a dictionary and extract a Series from one of its columns.

In [ ]:
import pandas as pd

# 1. Creating Series and DataFrames
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 60000, 55000, 65000, 70000]}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

# Creating a Series
age_series = pd.Series(df['Age'])
print("\nSeries (Age):\n", age_series)

DataFrame:
       Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27         IT   60000
2  Charlie   22         IT   55000
3    David   32         HR   65000
4      Eva   29    Finance   70000
0    24
1    27
2    22
3    32
4    29
Name: Age, dtype: int64

Series (Age):
 0    24
1    27
2    22
3    32
4    29
Name: Age, dtype: int64

## 2. Reading CSV/Excel Files
Read data from CSV and Excel files into pandas DataFrames.

In [29]:
# 2. Reading CSV/Excel (Assume 'employees.csv' exists)
df_csv = pd.read_csv('employees.csv')
# df_excel = pd.read_excel('employees.xlsx')

df_csv.head()

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27         IT   60000
2  Charlie   22         IT   55000
3    David   32         HR   65000
4      Eva   29    Finance   70000

## 3. Filtering & Selecting Data
Filter rows based on conditions and select specific columns from a DataFrame.

In [30]:
# 3. Filtering & Selecting
# Select employees older than 25
older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:\n", older_than_25)

# Select only Name and Salary columns
name_salary = df[['Name', 'Salary']]
print("\nName and Salary columns:\n", name_salary)

Employees older than 25:
     Name  Age Department  Salary
1    Bob   27         IT   60000
3  David   32         HR   65000
4    Eva   29    Finance   70000

Name and Salary columns:
       Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   55000
3    David   65000
4      Eva   70000

## 4. Group By and Aggregation
Group data by a column and perform aggregation functions such as mean and count.

In [3]:
# 4. Group by and Aggregation
# Average salary by department
avg_salary_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage Salary by Department:\n", avg_salary_dept)

# Count of employees by department
count_dept = df.groupby('Department')['Name'].count()
print("\nEmployee count by Department:\n", count_dept)

Average Salary by Department:
 Department
Finance    70000.0
HR         57500.0
IT         57500.0
Name: Salary, dtype: float64

Employee count by Department:
 Department
Finance    1
HR         2
IT         2
Name: Name, dtype: int64

## 5. Data Inspection
Inspect DataFrame structure and summary statistics.

In [32]:
#5.  Data Inspection
print("\nDataFrame Info:")
df.info()
print("\nSummary Statistics:")
print(df.describe())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

Summary Statistics:
             Age       Salary
count   5.000000      5.00000
mean   26.800000  60000.00000
std     3.962323   7905.69415
min    22.000000  50000.00000
25%    24.000000  55000.00000
50%    27.000000  60000.00000
75%    29.000000  65000.00000
max    32.000000  70000.00000

## 6. Handling Missing Data
Identify and handle missing values in a DataFrame.

In [ ]:
#6. Handling Missing Data
df_missing = df.copy()
df_missing.loc[2, 'Salary'] = None  # introduce a missing value
print("\nMissing values:\n", df_missing.isnull())
print("\nFill missing values with 0:\n", df_missing.fillna(0))

Missing values:
     Name    Age  Department  Salary
0  False  False       False   False
1  False  False       False   False
2  False  False       False    True
3  False  False       False   False
4  False  False       False   False

Fill missing values with 0:
       Name  Age Department   Salary
0    Alice   24         HR  50000.0
1      Bob   27         IT  60000.0
2  Charlie   22         IT    888.0
3    David   32         HR  65000.0
4      Eva   29    Finance  70000.0

## 7. Sorting & Indexing
Sort DataFrames and change the index.

In [7]:
# 7. Sorting & Indexing
print("\nSorted by Age:\n", df.sort_values(by='Age'))
df_indexed = df.set_index('Name')
print("\nSet 'Name' as index:\n", df_indexed)
print("\nReset index:\n", df_indexed.reset_index())

Sorted by Age:
       Name  Age Department  Salary
2  Charlie   22         IT   55000
0    Alice   24         HR   50000
1      Bob   27         IT   60000
4      Eva   29    Finance   70000
3    David   32         HR   65000

Set 'Name' as index:
          Age Department  Salary
Name
Alice     24         HR   50000
Bob       27         IT   60000
Charlie   22         IT   55000
David     32         HR   65000
Eva       29    Finance   70000

Reset index:
       Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27         IT   60000
2  Charlie   22         IT   55000
3    David   32         HR   65000
4      Eva   29    Finance   70000

## 8. Data Selection by Label and Position
Select data using `.loc` (label-based) and `.iloc` (position-based) indexing.

In [12]:
# 8. Data Selection
print(df)
print("\nSelect by label (loc):\n", df.loc[0, 'Name'])
print("\nSelect by position (iloc):\n", df.iloc[0, 1])

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27         IT   60000
2  Charlie   22         IT   55000
3    David   32         HR   65000
4      Eva   29    Finance   70000

Select by label (loc):
 Alice

Select by position (iloc):
 24

## 9. Merging & Joining DataFrames
Combine DataFrames using merge operations.

In [36]:
# 9. Merging & Joining
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Bonus': [1000, 1500]})
merged = pd.merge(df, df2, on='Name', how='left')
print("\nMerged DataFrame:\n", merged)

Merged DataFrame:
       Name  Age Department  Salary   Bonus
0    Alice   24         HR   50000  1000.0
1      Bob   27         IT   60000  1500.0
2  Charlie   22         IT   55000     NaN
3    David   32         HR   65000     NaN
4      Eva   29    Finance   70000     NaN

## 10. Applying Functions
Apply custom functions to DataFrame columns.

In [37]:
# 10. Applying Functions
print("\nApply function (double salary):\n",
      df['Salary'].apply(lambda x: x * 2))

Apply function (double salary):
 0    100000
1    120000
2    110000
3    130000
4    140000
Name: Salary, dtype: int64

## 11. String Operations
Perform string operations on DataFrame columns.

In [ ]:
# 11. String Operations
print("\nDepartment in lowercase:\n", df['Department'].str.lower())

Department in lowercase:
 0         HR
1         IT
2         IT
3         HR
4    FINANCE
Name: Department, dtype: object

## 12. Datetime Handling
Work with datetime columns in pandas.

In [17]:
# 12. Datetime Handling
df_dates = pd.DataFrame({'date': ['2024-01-01', '2024-05-15']})
df_dates['date'] = pd.to_datetime(df_dates['date'])
print("\nYear from date column:\n", df_dates['date'].dt.year)

Year from date column:
 0    2024
1    2024
Name: date, dtype: int32

## 13. Pivot Tables
Create pivot tables to summarize data.

In [40]:
# 13. Pivot Table
pivot = df.pivot_table(values='Salary', index='Department', aggfunc='mean')
print("\nPivot Table (Avg Salary by Department):\n", pivot)

Pivot Table (Avg Salary by Department):
              Salary
Department
Finance     70000.0
HR          57500.0
IT          57500.0

## 14. Exporting Data
Export DataFrames to CSV and Excel files.

In [41]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/mac/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

*Install `openpyxl` to enable Excel file export functionality.*

In [42]:
# 14. Exporting Data (commented out to avoid file creation)
df.to_csv('output.csv')
df.to_excel('output.xlsx')